/*about.html*/
.about-container{
    display: flex;
}
    #puppy {
        height: 173px;
        width: 304px;
        border: solid 2px black;
        position: relative;
        margin-top: 4%;
        margin-left: 35%;
    }

    #profile_pic {
        position: absolute;
        top: 20vmin;
        right: 12vmin;
        border: solid 2px black;
        transform: scale(.7);
        transform: rotate(7deg);
    }

    .about_me {
        font-size: 20px;
        width: 65%;
    }
