/*skills.html*/

    #lang-container {
        position:relative;
        float: left;
        /*width: 80%;
        height: auto;*/
        /*margin-left: 4em;
        margin-right: 4em;*/
        /*margin: 0 auto;*/
        margin-left: 7%;
        margin-right: 7%;
    }

    .lang_icon {
        height: 15vmin;
        width: auto;
        margin: 1%;
        border: dashed 1px black;
        padding: .5%;
    }
